body {
    background: #F3F5FC;
    width: 100%;
    height: 100%;
}
header img{
    display: inline-block;
    width: 8%;
    margin: 30px 0 0 3%;
}
header h1{
    display: inline-block;
    margin-left: 3em;
    margin-top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    
    text-align: center;
    color: #343A40;
}
.caja_entrada_botones{
    position: relative;
    display: inline-block;
    width: 53%;
    height: 70vh;
    margin: 10px 0 0 10%;
}
#intro_text {
    width: 90%;
    height: 55vh;
    border: none;
    border-radius: 15px;
    margin-top: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    background: #F3F5FC;
    color: #0A3871;
}
#intro_text::placeholder{
    color: #0A3871;
}
#intro_text:focus{
    outline: none;
}
.mensaje_instruccion{
    width: 100%;
    margin: 3vh 0 4vh 13%;
}
.mensaje_instruccion img{
    display: inline;
}
.mensaje_instruccion p{
    display: inline;
    margin-left: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #495057;
    opacity: 0.9;
}
.botones{
    width: 100%;
    margin-top: 10px;
}
#boton_encriptar{
    display: inline-block;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 150px;
    height: 15%;
    padding: 10px;
    margin-left: 13%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;  
}
#boton_encriptar:hover{
    background: #ffffffaf;
    color: #0A3871;
    transform: scale(1.1);
}
#boton_encriptar:active{
    background: #0A3871; ;
    color: #ffffffff;
}
#boton_desencriptar{
    display: inline-block;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 10px;
    margin-left: 20px;
    width: 150px;
    height: 15%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
#boton_desencriptar:hover{
    background: #ffffffaf;
    color: #0A3871;
    transform: scale(1.1);
}
#boton_desencriptar:active{
    background: #0A3871; ;
    color: #ffffffff;
}
#boton_reiniciar{
    position: absolute;
    top: 66vh;
    margin-left: 40px;
    display: inline-block;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}
#boton_reiniciar:hover{
    background: #ffffffaf;
    color: #0A3871;
    transform: scale(1.1);
}
#boton_reiniciar:active{
    background: #0A3871; ;
    color: #ffffffff;
}
.rectangulo {
    position: absolute;
    top: 30px;
    right: 10%;
    width: 30%;
    height: 85vh;

    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
#traductor{
    display: none;
    position: relative;
    width: 90%;
    height: 85%;
    margin: 5% 5% 0 5%;
    overflow: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    background: #FFFFFF;
    color: #0A3871;
}
#copiar{
    display: none;
    text-align: center;
    margin-top: 3%;
} 
#boton_copiar{
    background: #F3F5FC;
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 10px;
    width: 150px;
    height: 15%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}
#boton_copiar:hover{
    background: #ffffffaf;
    color: #0A3871;
    transform: scale(1.1);
}
#boton_copiar:active{
    background: #0A3871; ;
    color: #ffffffff;
}
.muñeco {
    width: 80%;
    height: 30vh;
    margin: 20% 5% 0 5%;
    margin-bottom: 40px;
}
#mensajes_muñeco{
    display: block;
    width: 80%;
    text-align: center;
    margin: 10% 10% 0 10%;
}
.mensaje_muñeco_1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    
    text-align: center;
    color: #343A40;
}
.mensaje_muñeco_2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    color: #495057;
    margin-top: 20px;    
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    background: rgb(224, 223, 223);
}
footer a{
    position: relative;
    display: inline-block;
    font-size: 30px;
    padding: 10px;
}
#linkedin{
    margin-left: 220px;
    color: #0e76a8;
}
#github{
    color: #171515;
}
#twitter{
    color: #00acee;
}
#redes{
    display: inline-block;
    position: fixed;
    width: 200px;
    left: 40px;
    bottom: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #343A40;
}
#dev{
    display: inline-block;
    position: fixed;
    text-align: right;
    width: 300px;
    right: 40px;
    bottom: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #343A40;
}
@media screen and (max-width:1200px){
    header img{
        margin-top: 30px;
    }
    .caja_entrada_botones{
        width: 90%;
        height: 40vh;
        margin-left: 5%;
        margin-right: 5%;
    }
    .entrada_texto{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #intro_text{
        height: 35vh;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .mensaje_instruccion {
        margin-left: 0px;
    }
    #boton_reiniciar{
        top: 45vh;
    }
    .rectangulo {
        position: relative;
        width: 90%;
        left: 40px;
        height: 50vh;
        margin-bottom: 20vh;
    }
    #texto_traductor{
        margin-top: 20px;
    }
    #copiar{
        margin-top: 10px;
    }
    .muñeco {
        display: none;
    }
    #mensajes_muñeco{
        position: relative;
        top: 10vh;
    }
    #redes{
        width: 150px;
    }
    #dev{
        width: 50%;
        margin-right: 5px;
    }
}
@media screen and (max-width:900px){
    header img{
        width: 100px;
        margin-left: 5px;
    }
    header h1{
        margin-left: 0px;
        font-size: 30px;
    }
    .mensaje_instruccion p{
        font-size: 16px;
    }
    #boton_encriptar{
        font-size: 24px;
        border-radius: 30px;
        width: 220px;
        padding: 20px;
        margin-left: 2%;
    }
    #boton_desencriptar{
        font-size: 24px;
        border-radius: 30px;
        width: 220px;
        padding: 20px;
        margin-left: 2%;
    }
    #boton_reiniciar{
        font-size: 20px;
        border-radius: 50%;
        padding: 10px;
        width: 120px;
        height: 120px;
    }
    .mensaje_muñeco_1{
        font-size: 24px;
    }
    .mensaje_muñeco_2{
        font-size: 16px;
    }
    #redes{
        left: 10px;
    }
    #linkedin{
        margin-left: 150px;
    }
    #dev{
        right: 10px;
    }
}
@media screen and (max-width:686px) {
    header h1{
        display: block;
        margin-top: 30px;
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    .mensaje_instruccion{
        width: 90%;
        margin-left: 5%;
    }
    #boton_encriptar{
        display: block;
        width: 80%;
        margin-left: 10%;
    }
    #boton_desencriptar{
        display: block;
        width: 80%;
        margin-left: 10%;
        margin-top: 30px;
    }
    #boton_reiniciar{
        position: relative;
        top: 3vh;
        margin: 0 35% 0 35%;
    }
    .rectangulo{
        margin-top: 70px;
        left: 5%;
    }
    footer{
        height: 100px;
    }
    footer a{
        font-size: 25px;
        padding: 15px;
        left: 60px;
    }
    #linkedin{
        margin-left: 130px;
    }
    #redes{
        font-size: 24px;
        width: 200px;
        left: 10px;
        bottom: 60px;
    }
    #dev{
        text-align: left;
        left: 10px;
        width: 300px;
        right: 40px;
    }
    
}