body {
    position: relative;
    background: #F3F5FC;
    width: 65%;
    height: 1024px;
    margin: 0 auto;
}

header{
    position: relative;
    width: 100%;
    height: 13%;
    border: 2px solid orange;
}

header img{
    position: absolute;
    width: 10%;
    top: 25%;
    left: 3%;
}

.caja_entrada_botones{
    position: absolute;
    width: 65%;
    height: 81%;
    border: 1px solid blue;
    margin: 1% 0 0 2%;
}

.entrada_texto {
    position: absolute;
    left: 15%;
    top: 15%;
    text-align: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    
    color: #0A3871;
}

.mensaje_instruccion{
    position: absolute;
    width: 25%;
    left: 15%;
    top: 81%;
}

.mensaje_instruccion img{
    display: inline;
}

.mensaje_instruccion p{
    display: inline;
    margin-left: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
    color: #495057;
    opacity: 0.8;
}

.botones{
    position: absolute;
    width: 100%;
    top: 85%;
}

.boton_encriptar{
    display: inline-block;
    background: #0A3871;
    border-radius: 24px;

    width: 30%;
    height: 19px;
    padding: 24px;
    margin-left: 15%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;  
}

.boton_desencriptar{
    display: inline-block;
    background: #D8DFE8;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    margin-left: 20px;

    width: 30%;
    height: 19px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #0A3871;
}

.rectangulo {
    position: absolute;
    width: 33%;
    height: 944px;
    left: 67%;
    top: 3.5%;
    
    background: #FFFFFF;
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muñeco {
    position: absolute;
    width: 80%;
    margin: 60% 10% 0 10%;
}

.mensajes_muñeco{
    position: absolute;
    width: 80%;
    text-align: center;
    margin: 140% 10% 0 10%;
}

.mensaje_muñeco_1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    
    text-align: center;
    
    color: #343A40;
}

.mensaje_muñeco_2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    
    color: #495057;
    margin-top: 20px;    
}

